html {
  scroll-behavior: smooth;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: #282828;
  font-size: 1.5rem !important;
  font-weight: bold;
  padding: 0.5rem 0.875rem;
  border-radius: 100%;
  background-color: rgba(221, 221, 221, 0.8);
  transition: all 0.3s ease;
}

.swiper-button-prev:hover::after,
.swiper-button-next:hover::after {
  background-color: #282828;
  color: #fff;
}

.swiper-button-prev::after {
  margin-left: 5rem;
}

.swiper-button-next::after {
  margin-right: 5rem;
}

@media only screen and (max-width: 769px) {
  .swiper-button-prev::after {
    margin-left: 1rem;
  }

  .swiper-button-next::after {
    margin-right: 1rem;
  }
}

/* ===== Custom Swiper pagination ===== */
.card-swiper .swiper-pagination-bullets {
  bottom: 0 !important;
}

.swiper-pagination-bullet {
  width: 2rem !important;
  border-radius: 0.25rem !important;
  height: 0.35rem !important;
  transition: all 0.3s ease;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  background-color: #282828 !important;
  opacity: 1;
  width: 2.5rem !important;
}

/* .swiper-slide {
  width: 100% !important;
  margin: auto !important;
} */
